<a href="/"><span class="text-white"><p>Home</p></span></a>
    <a href="/favorites"><span class="text-white"><p>Favorite Cards</p></span></a>
    <a href="/aboutus"><span class="text-white"><p>About Us</p></span></a>