header {
	padding-bottom: 300px;
}
html {
	height: 100%;
}

body {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom right, #7d98a1, #eef1ef);
	height: 100%;
}
.gallery {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 400px;
	grid-auto-rows: 700px;
	grid-gap: 10px;
	justify-content: center;
	margin-top: 80px;
	opacity: 100%;
	padding: 10px;
}

.galleryFav {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 400px;
	grid-auto-rows: 700px;
	grid-gap: 10px;
	justify-content: center;
	margin-top: 80px;
	opacity: 100%;
}

.gallery-about-us {
	width: 100%;
	display: grid;
	grid-template-columns: 400px;
	grid-auto-rows: 600px;
	grid-gap: 10px;
	justify-content: center;
	margin-top: 80px;
	opacity: 100%;
	background-color: #eef1ef;
	padding: 10px;
}

.card {
	margin-top: 20px;
	margin-bottom: 20px;
	border-color: rgba(255, 0, 0, 0);
	background-color: rgba(255, 0, 0, 0);
}

input {
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
	height: 20px;
	color: #fff;
}

footer {
	text-align: center;
	color: black;
	height: 50px;
	width: 100%;
	bottom: 0;
	background-color: #3a4149a4;
	padding-top: 10px;
}

@media only screen and (min-width: 1000px) {
	body {
		background-image: linear-gradient(to bottom right, #7d98a1, #eef1ef);
		height: 100%;
	}
	header {
		padding-bottom: 300px;
	}

	.gallery {
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: 466px 466px 466px 466px;
		grid-auto-rows: 700px;
		grid-gap: 10px;
		justify-content: center;
		margin-top: 80px;
		opacity: 100%;
	}

	header {
		padding-bottom: 300px;
	}

	.gallery-about-us {
		width: 100%;
		display: grid;
		grid-template-columns: 400px 400px 400px 400px;
		grid-auto-rows: 500px;
		grid-gap: 10px;
		justify-content: center;
		justify-items: center;
		text-align: center;
		margin-top: 80px;
		opacity: 100%;
		background-color: rgba(0, 0, 0, 0);
	}

	.galleryFav {
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: 466px 466px 466px 466px;
		grid-auto-rows: 700px;
		grid-gap: 10px;
		justify-content: center;
		margin-top: 80px;
		opacity: 100%;
	}

	.card {
		border-color: rgba(255, 0, 0, 0);
		background-color: rgba(255, 0, 0, 0);
		margin-top: 20px;
	}
	footer {
		position: relative;
		text-align: center;
		color: black;
		height: 50px;
		width: 100%;
		bottom: 0;
		background-color: #3a4149a4;
		padding-top: 10px;
	}

	#footer {
		position: absolute;
		text-align: center;
		color: black;
		height: 50px;
		width: 100%;
		bottom: 0;
		background-color: #3a4149a4;
		padding-top: 10px;
	}

	input {
		border: none;
		border-bottom: 1px solid black;
		background: transparent;
		outline: none;
		height: 20px;
		color: #fff;
	}
}
