<!DOCTYPE html>
<html>

<head>
  <title>About Us</title>
  <%- include('partials/head.ejs') %>
  <link href="base.css" rel="stylesheet" />
</head>

<body>
  <header>
    <div class="fixed-top">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Magic Menu</h5>
          <a href="/"><span class="text-white"><p>Home</p></span></a>
           <a href="/aboutus"><span class="text-white"><p>About Us</p></span></a>
          <a href="/favorites"><span class="text-white"><p>Favorite Cards</p></span></a>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
  </header>
  <main>
    <h1>About Us</h1>

      <section class="gallery-about-us">
    <div class="scene scene--card">
      <div class="card" id="card-one">
        <div class="card__face card__face--front"></div>
        <div class="card__face card__face--back">front</div>
      </div>
    </div>

    <div class="scene scene--card">
      <div class="card" id="card-two">
        <div class="card__face card__face--front"></div>
        <div class="card__face card__face--back">front</div>
      </div>
    </div>

    <div class="scene scene--card">
      <div class="card" id="card-three">
        <div class="card__face card__face--front"></div>
        <div class="card__face card__face--back">front</div>
      </div>
    </div>

    <div class="scene scene--card">
      <div class="card" id="card-four">
        <div class="card__face card__face--front"></div>
        <div class="card__face card__face--back">front</div>
      </div>
    </div>
  </section>

    <section id="XXXX">
      <section class="bio">
        <h2>Taylor</h2>
        <div class="photo"><img src="../img/XXX.jpg" alt="Taylor"></div>
        <p>I am a problem solver with a knack for technology. Before I
          entered the world of Software Development I was a Manufacturing
          Engineer. I loved setting up new machines and learning their
          software. Designing tools to produce the perfect part while still
          meeting the constraints of the machine was very satisfying. I
          realized my favorite part of the job was learning new problem
          solving technologies. When it became clear I was ready for a
          career change, software development stood out as the ultimate
          problem solving technology. I started teaching myself web
          development and was immediately hooked. I found my way into a boot
          camp and which pushed my capacity for learning even farther. The
          more I learn the more it solidifies that Software Development is
          exactly where I want to be.
        </p>
      </section>
      <section class="bio">
        <h2>Czarl</h2>
        <div class="photo"><img src="../img/XXX.jpg" alt="Czarl"></div>
        <p>Czarl Jalos is a Software Engineer Along with his 8 years of Military service. He led a team and managed in fast paced and high stress environments. He ensured that we completed our job efficiently to support the flight operation and allow them to carry out missions. Since exiting the Navy four months ago, He studied Software Engineering which he’ll complete in December. What he love the most about working in this industry is that he get to be part of starting and developing something innovative and continuing learning. Also, he find the career lifecycle absolutely amazing and would like to share his ability to impact others and develop his developing skill. 
        </p>
      </section>
      <section class="bio">
        <h2>Michael</h2>
        <div class="photo"><img src="../img/XXX.jpg" alt="Michael"></div>
        <p>Michael is a high ranked software developer and a well renowned voice actor in all 50 states. He holds two
          gold medals in dad of the year award. When not being compared to Michael Jordan, Elon Musk and Oprah Winfrey,
          you can find him jogging, paddle-boarding, canoeing, hiking and of course coding.</p>
      </section>
      <section class="bio">
        <h2>Keith</h2>
        <div class="photo"><img src="../img/XXX.jpg" alt="Keith"></div>
        <p>Keith is a software developer based in Tacoma. He has a background in visual arts and performs jazz guitar
          around the greater Seattle area. He first met Kevin, Sara, and Michael while waiting in line at 7-11 and they
          all decided to form a band. At band practice one day they discovered software development and the rest is
          history.
        </p>
      </section>
    </section>
    <footer>
      <button onclick="window.location.href='../index.html'">HOME</button>
    </footer>
  </main>
  <script>
    var cardOne = document.getElementById('card-one');
cardOne.addEventListener( 'click', function() {
  cardOne.classList.toggle('is-flipped');
});
var cardTwo = document.getElementById('card-two');
cardTwo.addEventListener( 'click', function() {
  cardTwo.classList.toggle('is-flipped');
});
var cardThree = document.getElementById('card-three');
cardThree.addEventListener( 'click', function() {
  cardThree.classList.toggle('is-flipped');
});
var cardFour = document.getElementById('card-four');
cardFour.addEventListener( 'click', function() {
  cardFour.classList.toggle('is-flipped');
});
  </script>
  <script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"
></script>
</body>

</html>