<!DOCTYPE html>
<html>

<head>
  <title>About Us</title>
  <link href="../css/reset.css" rel="stylesheet" type="text/css" />


<body>
  <header>
    <h1>About Us</h1>
  </header>
  <main>
    <section id="XXXX">
      <section class="bio">
        <h2>Taylor</h2>
        <div class="photo"><img src="../img/XXX.jpg" alt="Taylor"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </section>
      <section class="bio">
        <h2>Czarl</h2>
        <div class="photo"><img src="../img/XXX.jpg" alt="Czarl"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </section>
      <section class="bio">
        <h2>Michael</h2>
        <div class="photo"><img src="../img/XXX.jpg" alt="Michael"></div>
        <p>Michael is a high ranked software developer and a well renowned voice actor in all 50 states. He holds two
          gold medals in dad of the year award. When not being compared to Michael Jordan, Elon Musk and Oprah Winfrey,
          you can find him jogging, paddle-boarding, canoeing, hiking and of course coding.</p>
      </section>
      <section class="bio">
        <h2>Keith</h2>
        <div class="photo"><img src="../img/XXX.jpg" alt="Keith"></div>
        <p>Keith is a software developer based in Tacoma. He has a background in visual arts and performs jazz guitar
          around the greater Seattle area. He first met Kevin, Sara, and Michael while waiting in line at 7-11 and they
          all decided to form a band. At band practice one day they discovered software development and the rest is
          history.
        </p>
      </section>
    </section>
    <footer>
      <button onclick="window.location.href='../index.html'">HOME</button>
    </footer>
  </main>
</body>

</html>